// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-cinder: #151515;
$color-medium-aquamarine: #4ee1a0;
$color-dark-jungle-green: #242424;
$color-light-grey: #d9d9d9;
$color-white: #ffffff;
$color-white-50-percent: rgba(255, 255, 255, 0.5);
$color-bittersweet: #ff6f5b;
$color-background-image-mobile: linear-gradient(
  180deg,
  rgba(36, 36, 36, 0) 0.65%,
  $color-dark-jungle-green 100%
);

// ********** FONT-FAMILY **********
$font-space-grotesk: "Space Grotesk", sans-serif;

// ********* FONT-WEIGHTS **********
$fw-500: 500;
$fw-700: 700;

// ************* BASE **************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-cinder;
  color: $color-white;
  font-family: $font-space-grotesk;
}

html,
body {
  height: 100%;
}

// ********* 375px LAYOUT *********
body {
  padding: 0 1.6rem;
}

.action-text,
.action-text:link,
.action-text:visited {
  display: inline-block;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: $fw-700;
  letter-spacing: 0.2286rem;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border: none;
  border-bottom: 0.2rem solid $color-medium-aquamarine;
}

// ************* HEADER *************
.header-footer {
  width: 15.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto 4.9rem;

  &__name:link,
  &__name:visited {
    font-size: 2.4rem;
    font-weight: $fw-700;
    line-height: 3.2rem;
    letter-spacing: 0.0333rem;
    color: $color-white;
    text-decoration: none;
    text-align: center;
  }

  &__socials {
    display: flex;
    gap: 1.8rem;
  }
}

// *********** ABOUT-ME ***********
.about-me {
  margin-bottom: 8rem;

  &__img-background {
    background: $color-background-image-mobile;
    width: 17.4rem;
    height: 38.3rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__img {
    display: block;
    width: 17.4rem;
    height: auto;
    filter: grayscale(100%);
    margin: 0 auto 4rem;
  }

  &__text {
    text-align: center;
  }

  &__header {
    font-size: 4rem;
    font-weight: $fw-700;
    line-height: 4rem;
    letter-spacing: -0.1136rem;
    margin-bottom: 2rem;
  }

  &__name {
    display: inline-block;
    border-bottom: 0.4rem solid $color-medium-aquamarine;
  }

  &__info {
    color: $color-light-grey;
    font-size: 1.6rem;
    font-weight: $fw-500;
    line-height: 2.6rem;
    margin-bottom: 2.4rem;
  }

  &__email-container {
    display: inline-flex;
    gap: 1rem;
    align-items: start;
    margin-bottom: 2.4rem;
  }

  &__email-icon-link:link,
  &__email-icon-link:visited {
    height: 2.4rem;
  }

  &__email:link,
  &__email:visited {
    color: $color-white;
    font-size: 1.6rem;
    text-decoration: none;
    border-bottom: 0.2rem solid $color-medium-aquamarine;
  }

  &__rings {
    display: block;
    position: absolute;
    top: 12.4rem;
    left: -34.2rem;
    z-index: -2;
  }

  &__circle {
    display: block;
    position: absolute;
    top: 25.4rem;
    right: -6.5rem;
  }
}

// ************* SKILLS *************
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  border-top: 0.1rem solid $color-white;
  padding: 4rem 0;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__name {
    font-size: 3.2rem;
    font-weight: $fw-700;
    line-height: 4rem;
    letter-spacing: -0.1rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.4rem;

    path {
      fill: $color-white;
    }
  }

  &__experience {
    color: $color-light-grey;
    font-size: 1.6rem;
    font-weight: $fw-500;
    line-height: 2.6rem;
  }

  &__rings {
    display: block;
    position: absolute;
    bottom: 0;
    right: -38.5rem;
    transform: translateY(50%);
    z-index: -1;
  }
}

// ************ PROJECTS ************
.projects {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-top: 0.1rem solid $color-white;
  padding: 8rem 0;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: 4rem;
      font-weight: $fw-700;
      line-height: 4rem;
      letter-spacing: -0.1136rem;
    }
  }
}

// ************ PROJECT ************
.project {
  &__img-container {
    max-width: 34.5rem;
    margin-bottom: 2rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__name {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: $fw-700;
    line-height: 3.2rem;
    text-transform: uppercase;
    margin-bottom: 0.7rem;
  }

  &__technologies {
    display: flex;
    gap: 1.8rem;
    list-style: none;
    margin-bottom: 2rem;
  }

  &__technology {
    color: $color-light-grey;
    font-size: 1.8rem;
    font-weight: $fw-500;
    line-height: 2.8rem;
    text-transform: uppercase;
  }

  &__action-texts {
    display: flex;
    gap: 3.2rem;
  }
}

// ************ CONTACT ************
.contact {
  background: $color-dark-jungle-green;
  margin: 0 -1.6rem;
  padding: 6rem 1.6rem 8.7rem;
  position: relative;

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  &__header {
    font-size: 4rem;
    font-weight: $fw-700;
    line-height: 4rem;
    letter-spacing: -0.1136rem;
  }

  &__text {
    color: $color-light-grey;
    font-size: 1.6rem;
    font-weight: $fw-500;
    line-height: 2.6rem;
  }
}

// ************** FORM **************
.form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  position: relative;
  z-index: 3;

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__input-error-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid $color-white;
    padding-bottom: 1.8rem;
  }

  &__input {
    flex-grow: 1;
    background: inherit;
    border: none;
    padding-left: 2.4rem;
    color: $color-white;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: $fw-500;
    line-height: 2.6rem;
    letter-spacing: -0.0222rem;

    &::placeholder {
      color: $color-white-50-percent;
    }

    &:focus {
      outline: none;
    }
  }

  &__error-icon {
    display: block;
    width: 2.45rem;
    height: 2.45rem;
    margin-left: 1rem;
  }

  &__error {
    margin: 0 0 -1.1rem auto;
    color: $color-bittersweet;
    font-size: 1.2rem;
    font-weight: $fw-500;
    line-height: 1.6rem;
    letter-spacing: -0.0167rem;
  }

  &__input--message {
    height: 8.7rem;
    resize: none;
  }

  &__btn {
    background: none;
    align-self: flex-end;
    font-family: inherit;
  }

  &__rings {
    display: block;
    position: absolute;
    top: 51.7rem;
    left: -34.3rem;
    z-index: 2;
  }
}

// ************* FOOTER *************
.footer {
  background: $color-dark-jungle-green;
  margin: 0 -1.6rem;
  padding: 0 1.6rem 6rem;

  &__border {
    border-top: 0.1rem solid $color-white;
    margin-bottom: 3.9rem;
  }
}

.centered {
  margin: 0 auto;
}

// *** CLASSES USED WITH JAVASCRIPT ***

// *************** FORM ***************
.form {
  &__input-error-icon--error {
    border-bottom: 0.1rem solid $color-bittersweet;
  }
}
